.todo-actions {
	overflow: right;
}

.logo {
  float: left;
  margin: 5px;
  width: 30px;
  height: auto;
}

.input-group-btn-custom {
	vertical-align: bottom; !important
}

.mainAction {
	margin : 10px 0px 0px 5px;
	background-color: #6AC7B3;
	border-color: #66d6be;
}