.main-wrapper {
	margin: 0 0 0 50px; !important
}

.main-header {
	min-height: 100px;
}

.logo {
  float: left;
  margin: 20px;
  width: 80px;
  height: auto;
}

.todo-actions {
	overflow: right;
}

.input-group-btn-custom {
	vertical-align: bottom; !important
}

.mainAction {
	margin : 10px 0px 0px 5px;
	background-color: #6AC7B3;
	border-color: #66d6be;
}