.main-wrapper {
	margin: 0 50px 0 50px; !important
}

.main-header {
	min-height: 100px;
}

.logo {
  float: left;
  margin: 20px;
  width: 80px;
  height: auto;
}

.todo-actions {
	overflow: right;
}

.input-group-btn-custom {
	vertical-align: bottom; !important
}

.ETA-indication {
	float: right;
	font-style: italic;
	color: #3b444c;
}

.mainAction {
	margin : 0px 5px 0px 5px;
	width: 60px;
	background-color: #6AC7B3;
	border-color: #66d6be;
}