	<div class="navbar navbar-default">
		<div class="container">
			<form class="navbar-form" role="search">
				<div class="col-lg-10">
					<input type="text" class="form-control"  placeholder="Start a title-based filter.." ng-keypress=filterByTitle() ng-model=titleSearch>
				</div>
				<div class="col-lg-2">
					<button type="button" class="btn btn-info mainAction" title="Add a TO DO" ng-click=editTODO()><i class="fa fa-plus"></i></button>
					<button type="button" class="btn btn-info mainAction" title="Download TO DOs list" ng-click=downloadTODOs()><i class="fa fa-download"></i></button>
				</div>
			</form>
		</div>
	</div>



<div class="col-lg-12">
<div class="row"  ng-repeat="(key, type) in todos">
	<h6 class="page-header ng-binding" ng-show="type.length">{{statuses[key]}}</h6>
	<div class="col-lg-3" ng-repeat="todo in type">
		<div class="panel panel-{{statusColor[todo.status]}}">
			<div class="panel-heading">
				{{todo.title.length > 30 ? (todo.title | beautify : true:30)+'...' : todo.title}}
			</div>
			<div class="panel-footer">
				<div class = "action-btns">
					<button type="button" class="btn btn-info btn-circle" title="Edit" ng-click=editTODO(todo)><i class="fa fa-wrench"></i></button>
					<button type="button" class="btn btn-primary btn-circle" title="Start Prgress" ng-click=startProgress(todo) ng-disabled="todo.status == 'inProgress'"><i class="fa fa-link"></i></button>
					<button type="button" class="btn btn-success btn-circle" title="Mark As In Done" ng-click=finishProgress(todo) ng-disabled="todo.status == 'done'"><i class="fa fa-check"></i></button>
					<button type="button" class="btn btn-warning btn-circle" title="Mark As Pending"  ng-click=stopProgress(todo) ng-disabled="todo.status == 'pending'"><i class="fa fa-minus-circle"></i></button>
					<button type="button" class="btn btn-danger btn-circle" title="Delete"  ng-click=deleteTODO(todo)><i class="fa fa-times"></i></button>
					<span class="ETA-indication">{{todo.eta.substring(0, 10)}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>